<div class="col-12">

  <div class="card" >
    <div class="row no-gutters">
        <div class="col-md-5">
          {{ with .Resources.GetMatch "featuredImage" }}
          {{ $thumbnail := .Fit "400x300 Lanczos" }}
          <img src="{{ $thumbnail.Permalink }}" class="card-img-top" {{ with .Params.description -}} alt="{{ . }}" {{- end }}>
          {{- end }}
        </div>
        
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{ .Title }}</h5>
                <p>Posted <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
                <p class="card-text">{{ if (isset .Params "description") }}{{ index .Params "description" }}{{ else }}{{ .Summary }}{{ end }}</p>
                <a href="{{ .Permalink }}" class="btn btn-primary stretched-link">Read</a>
            </div>
        </div>
    </div>
</div>

</div>