<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="list-body">
    {{ partial "nav-bar.html" . }}

    <main class="" >
      {{ if or (not (eq .Description "")) (not (eq .Title "")) -}}
      {{- end }}
      {{ with .Content -}}
      <section class="list-header-content">
        {{ . }}
      </section>
      {{- end }}
      {{ $pages := .Pages }}
      {{ if .IsHome }}
      {{ $pages = .Site.RegularPages }}
      {{ end }}
      {{ $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}
    </main>

    
    <div class="container">
      <div class="row">
        {{- range $paginator.Pages -}}
          {{ .Render "li" }}
        {{- end }}
      </div>
    </div>


    {{ if or ($paginator.HasPrev) ($paginator.HasNext) -}}
    <nav class="pagination-nav side-padding">
      {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}" class="pagination-newer pagination-text">&lt; Newer Posts</a>{{ end }}
      {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}" class="pagination-older pagination-text">Older Posts &gt;</a>{{ end }}
    </nav>
    {{- end }}


    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
