/*
  * To override CSS, you should create
  * project_root/assets/css/override.css
  * and place all your CSS inside it.
  * You should not modify this file.
  */

  .bg-light {
    background-color: #f8f9fa!important;
  }

  .card {
    margin: 1em;
  }

  .no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 1em;
    padding-left: 1em;
}

.navbar {
  width: 100%;
}